body {
  background-color: aquamarine;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 20px;
}
.app {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.app a {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(83, 196, 158);
}
